In [1]:
import pandas as pd
from sklearn.metrics import cohen_kappa_score

In [2]:
from google.colab import drive

drive.mount('/content/gdrive')
path = "/content/gdrive/MyDrive/Tesis_Maestria/annotations"

Mounted at /content/gdrive

In [5]:
anotaciones_g1 = pd.read_excel(path + "/anotaciones.xlsx", sheet_name = 'Grupo 1')
anotaciones_g2 = pd.read_excel(path + "/anotaciones.xlsx", sheet_name = 'Grupo 2')
anotaciones_g1.head()

,ronda,id,target_g1_a1,target_g1_a2,categoria_g1_a1,categoria_g1_a2
0,1,id_1510402408144330766,Si,No,Abuso,Untarget
1,1,id_1511710516158283776,Si,Si,Crítica,Abuso
2,1,id_1510637498095054859,Si,Si,Abuso,Abuso
3,1,id_1510387595653484544,Si,Si,Abuso,Abuso
4,1,id_1510390196164079622,Si,Si,Abuso,Crítica

# Cohen Kappa

In [32]:
c_kappa = cohen_kappa_score(list(anotaciones_g1['target_g1_a1'])+list(anotaciones_g2['target_g2_a1']), list(anotaciones_g1['target_g1_a2'])+list(anotaciones_g2['target_g2_a2']))
# Print the result
print("Cohen alpha:", round(c_kappa,2))

Cohen alpha: 0.49

In [31]:
c_kappa = cohen_kappa_score(list(anotaciones_g1['categoria_g1_a1'])+list(anotaciones_g2['categoria_g2_a1']), list(anotaciones_g1['categoria_g1_a2'])+list(anotaciones_g2['categoria_g2_a2']))
# Print the result
print("Cohen alpha:", round(c_kappa,2))

Cohen alpha: 0.47

## Grupo 1

Estando el coeficiente de K promedio entre 0.4 y 0.6 podemos decir que el agreement es moderado.

In [ ]:
for ronda in anotaciones_g1['ronda'].unique():
  print("Ronda",ronda,':',round(cohen_kappa_score(list(anotaciones_g1[anotaciones_g1['ronda']==ronda]['target_g1_a1']), list(anotaciones_g1[anotaciones_g1['ronda']==ronda]['target_g1_a2'])),2))
print('Total:',round(cohen_kappa_score(list(anotaciones_g1['target_g1_a1']), list(anotaciones_g1['target_g1_a2'])),2))

Ronda 1 : 0.43
Ronda 2 : 0.39
Ronda 3 : 0.37
Ronda 4 : 0.41
Ronda 5 : 0.58
Ronda 6 : 0.59
Total: 0.49

In [ ]:
for ronda in anotaciones_g1['ronda'].unique():
  print("Ronda",ronda,':',round(cohen_kappa_score(list(anotaciones_g1[anotaciones_g1['ronda']==ronda]['categoria_g1_a1']), list(anotaciones_g1[anotaciones_g1['ronda']==ronda]['categoria_g1_a2'])),2))
print('Total:',round(cohen_kappa_score(list(anotaciones_g1['categoria_g1_a1']), list(anotaciones_g1['categoria_g1_a2'])),2))

Ronda 1 : 0.38
Ronda 2 : 0.4
Ronda 3 : 0.4
Ronda 4 : 0.42
Ronda 5 : 0.52
Ronda 6 : 0.56
Total: 0.48

## Grupo 2

Estando el coeficiente de K promedio entre 0.4 y 0.6 podemos decir que el agreement es moderado.

In [ ]:
anotaciones_g2.head()

,ronda,id,target_g2_a1,target_g2_a2,categoria_g2_a1,categoria_g2_a2
0,1,id_1506280588042543108,Si,Si,Crítica,Abuso
1,1,id_1503764762613583874,Si,Si,Abuso,Abuso
2,1,id_1508959452107403267,Si,Si,Crítica,Crítica
3,1,id_1505020917230964738,Si,Si,Abuso,Abuso
4,1,id_1511128697939677186,Si,Si,Abuso,Abuso

In [ ]:
for ronda in anotaciones_g2['ronda'].unique():
  print("Ronda",ronda,':',round(cohen_kappa_score(list(anotaciones_g2[anotaciones_g2['ronda']==ronda]['target_g2_a1']), list(anotaciones_g2[anotaciones_g2['ronda']==ronda]['target_g2_a2'])),2))
print('Total:',round(cohen_kappa_score(list(anotaciones_g2['target_g2_a1']), list(anotaciones_g2['target_g2_a2'])),2))

Ronda 1 : 0.31
Ronda 2 : 0.68
Ronda 3 : 0.62
Ronda 4 : 0.3
Total: 0.51

In [ ]:
for ronda in anotaciones_g2['ronda'].unique():
  print("Ronda",ronda,':',round(cohen_kappa_score(list(anotaciones_g2[anotaciones_g2['ronda']==ronda]['categoria_g2_a1']), list(anotaciones_g2[anotaciones_g2['ronda']==ronda]['categoria_g2_a2'])),2))
print('Total:',round(cohen_kappa_score(list(anotaciones_g2['categoria_g2_a1']), list(anotaciones_g2['categoria_g2_a2'])),2))

Ronda 1 : 0.32
Ronda 2 : 0.45
Ronda 3 : 0.52
Ronda 4 : 0.42
Total: 0.45

# Krippendorff kappa

Krippendorff's alpha ranges from -1 to 1, where 1 indicates perfect agreement, 0 indicates agreement expected by chance, and negative values indicate less agreement than expected by chance.

In [3]:
pip install krippendorff

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting krippendorff
  Downloading krippendorff-0.6.0-py3-none-any.whl (17 kB)
Requirement already satisfied: numpy<2.0,>=1.21 in /usr/local/lib/python3.10/dist-packages (from krippendorff) (1.22.4)
Installing collected packages: krippendorff
Successfully installed krippendorff-0.6.0

In [9]:
from krippendorff import alpha

In [33]:
# Define the mapping dictionary
mapping = {
    'Si': 1,
    'No': 2
}

# Create a new column with the numerical values

anotaciones_g1['target_g1_a1_masked'] = anotaciones_g1['target_g1_a1'].map(mapping)
anotaciones_g1['target_g1_a2_masked'] = anotaciones_g1['target_g1_a2'].map(mapping)

anotaciones_g2['target_g2_a1_masked'] = anotaciones_g2['target_g2_a1'].map(mapping)
anotaciones_g2['target_g2_a2_masked'] = anotaciones_g2['target_g2_a2'].map(mapping)

In [35]:
# Calculate Krippendorff's alpha
k_alpha = alpha(reliability_data=[list(anotaciones_g1['target_g1_a1_masked'])+list(anotaciones_g2['target_g2_a1_masked']), list(anotaciones_g1['target_g1_a2_masked'])+list(anotaciones_g2['target_g2_a2_masked'])])

# Print the result
print("Krippendorff's alpha:", round(k_alpha,2))

Krippendorff's alpha: 0.49

In [15]:
# Define the mapping dictionary
mapping = {
    'Crítica': 1,
    'Abuso': 2,
    'Untarget': 3,
    'Positivo': 4,
    'Neutral': 5,
    'Contra Abuso':6
}

# Create a new column with the numerical values

anotaciones_g1['categoria_g1_a1_masked'] = anotaciones_g1['categoria_g1_a1'].map(mapping)
anotaciones_g1['categoria_g1_a2_masked'] = anotaciones_g1['categoria_g1_a2'].map(mapping)

anotaciones_g2['categoria_g2_a1_masked'] = anotaciones_g2['categoria_g2_a1'].map(mapping)
anotaciones_g2['categoria_g2_a2_masked'] = anotaciones_g2['categoria_g2_a2'].map(mapping)

In [27]:
# Calculate Krippendorff's alpha
k_alpha = alpha(reliability_data=[list(anotaciones_g1['categoria_g1_a1_masked'])+list(anotaciones_g2['categoria_g2_a1_masked']), list(anotaciones_g1['categoria_g1_a2_masked'])+list(anotaciones_g2['categoria_g2_a2_masked'])])

# Print the result
print("Krippendorff's alpha:", round(k_alpha,2))

Krippendorff's alpha: 0.49

## Grupo 1

In [23]:
# Calculate Krippendorff's alpha
k_alpha = alpha(reliability_data=[list(anotaciones_g1['categoria_g1_a1_masked']), list(anotaciones_g1['categoria_g1_a2_masked'])])

# Print the result
print("Krippendorff's alpha:", round(k_alpha,2))

Krippendorff's alpha: 0.53

In [24]:
print("Krippendorff's alpha:", round(k_alpha,2))
for ronda in anotaciones_g1['ronda'].unique():
  print("Ronda",ronda,':',round(alpha(reliability_data=[list(anotaciones_g1[anotaciones_g1['ronda']==ronda]['categoria_g1_a1_masked']), list(anotaciones_g1[anotaciones_g1['ronda']==ronda]['categoria_g1_a2_masked'])]),2))

Krippendorff's alpha: 0.53
Ronda 1 : 0.24
Ronda 2 : 0.44
Ronda 3 : 0.41
Ronda 4 : 0.52
Ronda 5 : 0.66
Ronda 6 : 0.64

## Grupo 2

In [20]:
# Calculate Krippendorff's alpha
k_alpha = alpha(reliability_data=[list(anotaciones_g2['categoria_g2_a1_masked']), list(anotaciones_g2['categoria_g2_a2_masked'])])

# Print the result
print("Krippendorff's alpha:", round(k_alpha,2))

Krippendorff's alpha: 0.42

In [22]:
print("Krippendorff's alpha:", round(k_alpha,2))
for ronda in anotaciones_g2['ronda'].unique():
  print("Ronda",ronda,':',round(alpha(reliability_data=[list(anotaciones_g2[anotaciones_g2['ronda']==ronda]['categoria_g2_a1_masked']), list(anotaciones_g2[anotaciones_g2['ronda']==ronda]['categoria_g2_a2_masked'])]),2))

Krippendorff's alpha: 0.42
Ronda 1 : 0.28
Ronda 2 : 0.38
Ronda 3 : 0.48
Ronda 4 : 0.45